body {
  background-image: url(../img/black-friday.jpg);
  background-repeat: no-repeat;
  background-size: cover;

}
.section-timer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 24px;
}

a {
  font-size: 24px;
  text-decoration: none;
  color: black;
}

a:hover {
  color: #dad5d5;
}

h1 {
  font-size: 36px;
}

input {
  width: 250px;
}

button {
  width: 70px;
  height: 20px;
  margin: 20px;
  cursor: pointer;
  border-radius: 5px;
  border: none;
}




.field {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.value {
  font-size: 25px;
}